@charset "ISO-8859-1";

.list-card-image {
	height: 20rem;
}

.list-card {
	width: 18rem;
	height: 32rem;
}

.details-card {
	width: 50rem;
}

.details-card-image {
	height: 15%;
}

.detailsClass {
	background-color: #ffffff;
}

.detailsCard {
	background-color: #e8e8e8;
}









